body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 10%;
   
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #020202;
}

th {
    background-color: #050404;
    color: aliceblue;
}

tr:hover {
    background-color: #f5f5f5;
   
}
